.logo{
    margin: 0px 60px 0px 15px ;
}
.logo a{
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    color:blueviolet ;
}
.menu-item{
    color: rgb(49, 124, 99);;
    font-weight: 700;
    text-decoration: none;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
ul li{
    list-style: none;
margin-left: 20px;

}
ul li a{
    padding: 2px  5px;
}
ul li a:hover{
    border-bottom: 2px solid blueviolet;
}