.s-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   margin: 15px;
   background-color: #f8f8f8;
   border-radius: 10px;
}
.s-service h4{
  color: rgb(49, 124, 99);
  margin-top: 20px;
}
.s-service p{
     color:rgb(67, 101, 130);
     padding-top: 7px;
     padding-bottom: 10px;
     text-align: justify;
}
.s-service img{
  border-radius: 50%;
}


