.services{
 display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 25px;
    margin-bottom: 50px;
}
.title-bg{
    background-image: url(../../images/testimonial/bg.png);
}
.title-bg{
    padding-bottom: 30px;
}



/* responsive */

@media  ( max-width: 1000px){
 .services{
          grid-template-columns: repeat(2 , 1fr);
    }
}
@media  ( max-width: 650px){
 .services{
          grid-template-columns: 1fr
    }
}