.text h2{
 margin-left: 150px;
    padding-top: 20px;
    color: white;
}
.fee h1{
    text-align: center;
      margin:100px  0px;
        color: rgb(49, 124, 99);
}
.btn{
    padding: 15px ;
    font-weight: 600;
}
.btn a{
    text-decoration: none;
    color: white;
}