.home{
    width: 90%;
    margin: 0 auto;
}
.bg-service{
  background-color: #f8f8f8;
}
.service{
    display: flex;
}
 .title{
    color: rgb(49, 124, 99);
    text-align: center;
    padding-top:  80px ;
    font-size: 50px;
    font-weight: 700;
}
   