.main-width{
    width: 95%;
    margin: 0 auto;}

.home{
    width: 100%;
    margin: 0 auto;
}

/*************** Service*********** */

.service {
    display: flex;
}
 .title{
    color: rgb(49, 124, 99);
    text-align: center;
    padding-top:  80px ;
    font-size: 50px;
    font-weight: 700;
}

/*************** Recent post*********** */

.recent-post{
    margin: 50px 0px;
}
.R-post{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/*************** Testimonial*********** */
.tm-bg{
    background-image: url(../../images/testimonial/bg.png);
    margin-bottom: 40px;
}
.container .testimonial{
    width:80% ;
}
.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
text-align: center;
padding: 2rem;
}
.client-img{
    border:  5px solid black;
    width: 7rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px auto 1rem;
}
.testimonial p {
    color: black;
    font-size: 25px;
    margin: 25px 0px;
    text-align: center;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    background-color:rgb(68, 16, 116) ;
   padding: 5px;
}

